.App {
  text-align: center;
}
.food{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.food__label{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.food__input{
  border-radius: 5px;
  width: 100%;
  padding: 10px 15px;
}

.food__form{
  padding: 30px;
  border: 2px solid black;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.food__button{
  padding: 25px 10px;
  background-color: darksalmon;
  border: none;
  border-radius: 7px;
  font-size: 25px;
  cursor: pointer;
  transition: opacity 0.2s;
}